/**
 *  =====================================================================================
 *      RESET CSS
 *  =====================================================================================
______________________________________________________________________________________ */
@-ms-viewport {
    width: device-width;
}

*,
::after,
::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
fieldset,
form,
label,
legend,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


a,
.link,
a:visited {
    cursor: pointer;
    color: #5e5959;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    outline: 0
}

a:active,
a:hover,
.link:hover {
    color: #3cb878;
}

a.active:hover {
    color: #3cb878
}

button {
    border: 0;
    background: #fff;
    outline: 0
}

button:focus,
button:hover {
    outline: 0
}

button,
input,
optgroup,
select,
textarea {
    outline: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

select {
    background: #fff;
}

textarea,
input {
    border: 1px solid #eee;
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
    -webkit-appearance: listbox
}

input[type*=email],
input[type*=password],
input[type*=search],
input[type*=text] {
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    -webkit-appearance: textfield
}

textarea {
    overflow: auto;
    resize: vertical
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

pre {
    margin-top: 0;
    margin-bottom: 0.5rem;
    overflow: scroll;
    -ms-overflow-style: scrollbar;
    display: block;
    font-size: 87.5%;
    color: #212529
}

pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal
}

header,
footer {
    display: block;
    width: 100%;
}

b {
    font-weight: 400;
}

/*
 *      1.0) Global_tags
______________________________________________________________________________________ */

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 1.6;
    -webkit-text-size-adjust: 100%;
    color: #5e5959;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-y: scroll
}

body {
    margin: 0;
    overflow: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 400;
    color: #222;
    text-transform: none
}

h1,
.h1 {
    font-size: 28px;
}

h2,
.h2 {
    font-size: 25px;
}

h3,
.h3 {
    font-size: 22px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 16px;
}







/*
 *      1.0) Global_classes
______________________________________________________________________________________ */

.flex {
    display: flex
}

.flex-inline {
    display: inline-flex
}

.flex-inline::after,
.flex-inline::before,
.flex::after,
.flex::before {
    content: "";
    display: none;
    margin: 0;
    flex: none
}

.flex-left {
    justify-content: flex-start
}

.flex-center {
    justify-content: center
}

.flex-right {
    justify-content: flex-end
}

.flex-between {
    justify-content: space-between
}

.flex-around {
    justify-content: space-around
}

@media (min-width:640px) {
    .flex-left\@s {
        justify-content: flex-start
    }

    .flex-center\@s {
        justify-content: center
    }

    .flex-right\@s {
        justify-content: flex-end
    }

    .flex-between\@s {
        justify-content: space-between
    }

    .flex-around\@s {
        justify-content: space-around
    }
}

@media (min-width:960px) {
    .flex-left\@m {
        justify-content: flex-start
    }

    .flex-center\@m {
        justify-content: center
    }

    .flex-right\@m {
        justify-content: flex-end
    }

    .flex-between\@m {
        justify-content: space-between
    }

    .flex-around\@m {
        justify-content: space-around
    }
}

@media (min-width:1200px) {
    .flex-left\@l {
        justify-content: flex-start
    }

    .flex-center\@l {
        justify-content: center
    }

    .flex-right\@l {
        justify-content: flex-end
    }

    .flex-between\@l {
        justify-content: space-between
    }

    .flex-around\@l {
        justify-content: space-around
    }
}

@media (min-width:1600px) {
    .flex-left\@xl {
        justify-content: flex-start
    }

    .flex-center\@xl {
        justify-content: center
    }

    .flex-right\@xl {
        justify-content: flex-end
    }

    .flex-between\@xl {
        justify-content: space-between
    }

    .flex-around\@xl {
        justify-content: space-around
    }
}

.flex-stretch {
    align-items: stretch
}

.flex-top {
    align-items: flex-start
}

.flex-middle {
    align-items: center
}

.flex-bottom {
    align-items: flex-end
}

.flex-row {
    flex-direction: row
}

.flex-row-reverse {
    flex-direction: row-reverse
}

.flex-column {
    flex-direction: column
}

.flex-column-reverse {
    flex-direction: column-reverse
}

.flex-nowrap {
    flex-wrap: nowrap
}

.flex-wrap {
    flex-wrap: wrap
}

.flex-wrap-reverse {
    flex-wrap: wrap-reverse
}

.flex-wrap-stretch {
    align-content: stretch
}

.flex-wrap-top {
    align-content: flex-start
}

.flex-wrap-middle {
    align-content: center
}

.flex-wrap-bottom {
    align-content: flex-end
}

.flex-wrap-between {
    align-content: space-between
}

.flex-wrap-around {
    align-content: space-around
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.flip {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}


/**
 * CARDS CSS
_________________________________________________________________________ */


.cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: left;
    justify-content: left;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 15px;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card {
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: #fefff9;
    color: #363636;
    text-decoration: none;
    -moz-box-shadow: rgba(0, 0, 0, 0.11) 0 2px 8px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.11) 0 2px 8px 0;
    box-shadow: rgba(0, 0, 0, 0.11) 0 2px 8px 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

@media (max-width: 700px) {
    .card {
        width: 100%;
    }
}

@media (min-width: 700px) {
    .card {
        max-width: 320px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .card:nth-child(even) {
        margin-right: 0;
    }
}

@media (min-width: 980px) {
    .card:nth-child(even) {
        margin-right: 20px;
    }

    .card:nth-child(3n) {
        margin-right: 0;
    }
}

.card span {
    display: block;
}

.card .card-summary {
    padding: 10px 5% 20px 5%;
}
.card .card-summary .card-btn-link {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 0;
    border:1px solid #67f7ac;
    color: #4ce295;
    
}

.card .card-summary .card-btn-link:hover {
    border:1px solid #07d46a;
    color: #07d46a;
}


.card .card-header {
    position: relative;
    height: 225px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: overlay;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px;
    border-radius: 4px 4px 0 0;
}

.card .card-header:hover,
.card .card-header:focus {
    background-color: rgba(255, 255, 255, 0);
}

.card .card-title {
    background: rgba(255, 255, 255, 0.85);
    padding: 3.5% 0 2.5% 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.card .card-title h3 {
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0 3.5%;
    margin: 0;
}

.card .card-meta {
    display: block;
    max-height: 0;
    overflow: hidden;
    color: #666;
    font-size: .78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
    transition:  all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    text-align: center;
}

.card .card-meta a {
    display: inline-block;
    padding: 5px;
}

.card:hover,
.card:focus {
    background: white;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px 0px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 15px 0px;
}

.card:hover .card-meta,
.card:focus .card-meta {
    max-height: 3em;
}

img {
    max-width: 100%;
}

.card.type2 {
    padding-bottom: 0;
}
